accelerate
asgiref
beautifulsoup4
certifi
cffi
charset-normalizer
cryptography
dj-database-url
Django
django-cors-headers
djangorestframework
filelock
fsspec
gunicorn
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
pdfminer.six
pdfplumber
pillow
psutil
psycopg2-binary
pycparser
pypdfium2
python-dotenv
PyYAML
regex
requests
safetensors
setuptools
soupsieve
sqlparse
sympy
tokenizers
torch
tqdm
transformers
typing_extensions
urllib3
celery
redis